.git/*
env/
venv/
.venv
.venv/
venv_hw02/
sent_emails/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
media/
posts/static/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover


db.sqlite3
